html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.main-div {
  background-image: url("../images/starfield.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

i {
  background-image: url("../images/rocket.svg");
}

.icon {
  transition: all 3000ms linear;
}

h1, p {
  color: #fff;
  text-shadow: -1px 1px 10px rgba(255, 255, 255, .7);
}

.btn {
  padding-left: 0;
  padding-right: 0;
  border-color: #90ccc3;
  border-radius: 8px;
}

.btn-text {
  color: #90ccc3;
}

.btn-ghost {
  transition: all 3000ms linear;
}

.button-border {
  transition: all 1s linear;
  color: #fff;
  border-bottom: 3px solid #90ccc3;
}

.btn:hover {
  border-color: #b4fff4;
  border-bottom: 3px solid #b4fff4;
  background-color: rgba(180, 255, 244, .2);
}

.btn:hover .icon {
  padding-left: 0;
  padding-right: 0;
  top: -6px;
  border-color: #b4fff4;
}

.btn-ghost:active,
.btn-ghost:focus {
  top: 1px;
  padding-top: 0;
}
